.conteneurcollapse {
  margin: auto;
  width: 100%;
  border-radius: 5px;

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82.50%;
    height: 47px;
    background-color: $orange;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
    border: 0px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 47px;
      z-index: 1;
    }
  }

  &__titre {
    font-size: 24px;
    color: $blanc;
    margin-left: 10px;
    text-transform: capitalize;
  }

  &--icone {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: $blanc;
    margin-right: 10px;
  }

  &__description {
    background-color: $gris;
    border-radius: 0px 0px 5px 5px;
    width: 74.50%;
    color: $orange;
    margin: auto;
    margin-bottom: 20px;
    margin-top: -27px;
    font-size: 24px;
    max-height: 100%;
    padding: 5% 4% 10% 4%;
  }
}

.rotate {
  transform: rotate(180deg);
}


@media screen and (max-width: 868px) {

  .conteneurcollapse__button {
    width: 95%;
  }

  .conteneurcollapse__description {
    width: 87%;
  }

  @media screen and (max-width: 375px) {

    .conteneurcollapse {
      margin: auto;
      width: 100%;
      border-radius: 5px;

      &__button {
        width: 89.33%;
      }

      &--icone {
        font-size: 13px;
      }

      &__description {
        width: 79%;
        font-size: 12px;
        padding: 8% 5% 10% 5%;
      }
    }
  }
}