.conteneurAbout {
  height: auto;

  &__conteneurimg {
    height: 223px;
    display: flex;
    justify-content: center;
    margin: 60px 0px;
  }

  &__img {
    height: 223px;
    border-radius: 25px;
    filter: brightness(60%);
    width: 65.713%;
    object-fit: fill;
  }
}

.conteneurTitre {
  width: 82.50%;
  height: 47px;
  background-color: $primary;
  border-radius: 5px;
}

.conteneurAboutCollapse {
  width: 65.713%;
  margin: auto;
}

@media screen and (max-width: 868px) {
  .conteneurAbout__conteneurimg {
    height: 89.33%;
  }

  .conteneurAbout__img {
    width: 93.316%;
  }

  .conteneurAboutCollapse {
    width: 89.401%;
  }
}

@media screen and (max-width: 375px) {

  .conteneurAboutCollapse {
    width: 100%;
  }
}