.styletitre {
    position: relative;
    height: 223px;
    display: flex;
    justify-content: center;
    margin-top: 63px;

    &__h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        line-height: 142.6%;
        color: $blanc;
        z-index: 1;
    }

    &__br {
        display: none;
    }

    &__img {
        height: 223px;
        border-radius: 25px;
        filter: brightness(60%);
        width: 65.713%;
        object-fit: cover;
    }
}

.logementsection {
    margin: 43px 0;

    &__logement {
        position: relative;
        width: 65.713%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;
        background: $gris;
        border-radius: 25px;
        padding: 20px 0;
    }

    &__conteneur {
        width: 27.19%;
        margin: 25px 25px;
        position: relative;
    }

    &__lien {
        height: 340px;
        border-radius: 10px;

        &::after {
            content: "";
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            width: 100%;
            height: 340px;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
        }
    }

    &__img {
        width: 100%;
        height: 340px;
        border-radius: 10px;
        object-fit: cover;
        position: relative;
    }

    &__descrip {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: $blanc;
        width: 73.35%;
        z-index: 1;
        margin: auto;
    }
}

@media screen and (max-width: 1407px) {

    .styletitre__h1 {
        width: 65.713%;
        margin: 70px 0 0 20px;
    }

    .logementsection__conteneur {
        width: 100%;
    }

    .styletitre__br {
        display: initial;
    }
}

@media screen and (max-width: 868px) {
    .styletitre {
        height: 111px;
        margin-top: 22px;

        &__h1 {
            width: 84.33%;
            left: 50%;
            margin: 25px 0 0 0;
            font-size: 28px;
        }

        &__img {
            width: 93.316%;
            height: 111px;
        }
    }

    .logementsection {
        margin-top: 22px;

        &__logement {
            width: 93.316%;
            padding: 0;
            background: $blanc;
        }

        &__conteneur {
            border-radius: 10px;
            position: relative;
            height: 255px;
        }

        &__lien {
            @include flexcenter;
            flex-direction: column;
            height: 255px;
            margin-bottom: 20px;

            &::after {
                height: 255px;
            }
        }

        &__img {
            width: 100%;
            height: 255px;
        }

        &__descrip {
            bottom: 15px;
            left: 15px;
        }
    }
    
    .styletitre__br {
        display: none;
    }
}

@media screen and (max-width: 489px) {
    .styletitre__br {
        display: initial;
    }
}

@media screen and (max-width: 375px) {
    .styletitre__h1 {
        font-size: 24px;
    }

    .logementsection {
        margin-top: 22px;

        &__logement {
            background: $blanc;
        }

        &__conteneur {
            margin: 10px 0px;
        }
    }
}