@import"./colors.scss";


.conteneurAbout {
  height: auto;

  &__conteneurimg {
    position: relative;
    height: 223px;
    display: flex;
    justify-content: center;
    margin: 60px 0px 60px 0px;
    

    &__img {
      height: 223px;
      border-radius: 25px;
      filter: brightness(60%);
      width: 65.713%;
      object-fit: cover;
      object-position: 25% bottom;
    }
  }
}

.conteneurTitre {
  width: 82.50%;
  height: 47px;
  background-color: $primary;
  position: relative;
  border-radius: 5px;
}

.conteneurAboutCollapse {
  width: 65.713%;
  margin: auto;
}

@media screen and (max-width: 375px) {

  .conteneurAbout {
    height: auto;
    display: flex;
    justify-content: center;
  
    &__conteneurimg {
      position: relative;
      height: 223px;
      display: flex;
      justify-content: center;
      margin: 0;
      width: 335px;
      margin: 60px 0px 60px 0px;
      
  
      &__img {
        width: 335px;
        height: 223px;
        border-radius: 25px;
        filter: brightness(60%);
        object-position: 30% 30%;
      }
    }
  }
}

