@import"./colors.scss";


.conteneurAbout {
  height: auto;

  &__conteneurimg {
    height: 223px;
    display: flex;
    justify-content: center;
    margin: 60px 0px 60px 0px;
    

    &__img {
      height: 223px;
      border-radius: 25px;
      filter: brightness(60%);
      width: 65.713%;
      object-fit: cover;
      object-position: 25% bottom;
    }
  }
}

.conteneurTitre {
  width: 82.50%;
  height: 47px;
  background-color: $primary;
  border-radius: 5px;
}

.conteneurAboutCollapse {
  width: 65.713%;
  margin: auto;
}

@media screen and (max-width: 375px) {

  .conteneurAbout {
  
    &__conteneurimg {
      height: 89.33%;
      
  
      &__img {
        width: 89.33%;
      }
    }
  }
  .conteneurAboutCollapse {
    width: 100%;
    margin: auto;
  }
}



