@import"./colors.scss";


.conteneurArticle {
  margin: auto;
  width: 65.713%;
  border-radius: 5px;
}

.conteneurTitre {
  width: 82.50%;
  height: 47px;
  background-color: $primary;
  position: relative;
  border-radius: 5px;
  margin: auto;

  &__titre {
    color: $secondary;
    position: absolute;
    left: 20px;
    top: 20%;
    font-size: 24px;
    margin: auto;

    &__SpanStyle {
      background-image: url(../assets/vectorhaut.svg);
      position: absolute;
      right: 20px;
      top: 35%;
      width: 24px;
      height: 15px;

      &__SpanStylebas {
        background-image: url(../assets/vectorbas.svg);
        position: absolute;
        right: 20px;
        top: 35%;
        width: 24px;
        height: 15px;

        &__conteneurP {
          margin-bottom: 25px;
          background-color: $backgroundLight;
          border-radius: 5px;
          width: 82.50%;
          margin: auto;
        }
      }
    }
  }
}


.content {
  overflow: hidden;
  max-height: 0;
}

.contentShow {
  color: $primary;
  margin-top: 0;
  font-size: 24px;
  padding: 20px 10px 10px 10px;
  max-height: 100%;
  height: auto;
}

