@import"./colors.scss";


.conteneurCollapse {
  margin: auto;
  width: 100%;
  border-radius: 5px;

  &__button {
    width: 82.50%;
    height: 47px;
    background-color: $primary;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
    border: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    &__titre {
      font-size: 24px;
      color: $secondary;
      margin-left: 10px;
      text-transform : capitalize;

      &__icone {
        font-size: 24px;
        display: flex;
        align-items: center;
        color: $secondary;
        margin-right: 10px;

        &__description {
          background-color: $backgroundLight;
          border-radius: 0px 0px 5px 5px;
          width: 77.50%;
          color: $primary;
          margin: auto;
          margin-bottom: 20px;
          margin-top: -27px;
          font-size: 24px;
          max-height: 100%;    
          padding: 2% 2% 4% 3%;
        }
      }

    }
  }
}

.rotate {
  transform: rotate(180deg);
}


@media screen and (max-width: 868px) {

  .conteneurCollapse {
    margin: auto;
    width: 100%;
    border-radius: 5px;
  
    &__button {
      width: 95%;
      height: 47px;
      background-color: $primary;
      position: relative;
      border-radius: 5px;
      margin: 20px auto;
      border: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
  
      &__titre {
        font-size: 24px;
        color: $secondary;
        margin-left: 10px;
  
        &__icone {
          font-size: 24px;
          display: flex;
          align-items: center;
          color: $secondary;
          margin-right: 10px;
  
          &__description {
            background-color: $backgroundLight;
            border-radius: 0px 0px 5px 5px;
            width: 92%;
            color: $primary;
            margin: auto;
            margin-bottom: 20px;
            margin-top: -27px;
            font-size: 24px;
            max-height: 100%;
            padding: 3% 2% 1% 1%;
          }
        }
  
      }
    }
  }

  @media screen and (max-width: 375px) {

    .conteneurCollapse {
      margin: auto;
      width: 100%;
      border-radius: 5px;
    
      &__button {
        width: 89.33%;
        height: 47px;
        background-color: $primary;
        position: relative;
        border-radius: 5px;
        margin: 20px auto;
        border: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    
        &__titre {
          font-size: 13px;
          color: $secondary;
          margin-left: 10px;
    
          &__icone {
            font-size: 24px;
            display: flex;
            align-items: center;
            color: $secondary;
            margin-right: 10px;
    
            &__description {
              background-color: $backgroundLight;
              border-radius: 0px 0px 5px 5px;
              width: 79%;
              color: $primary;
              margin: auto;
              margin-bottom: 20px;
              margin-top: -27px;
              font-size: 12px;
              max-height: 100%;
              padding: 8% 5% 10% 5%;
            }
          }
    
        }
      }
    }
  }
}



