@import"./colors.scss";


.conteneurHeader {
    width: 65.713%;
    height: 68px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;

    &__ul {
        list-style: none;
        display: flex;
        width: 50%;

        &__accueil {
            font-size: 20px;
            line-height: 142.6%;
            color: $primary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
                color: $primary;
            }

            &:active {
                cursor: pointer;
                color: $primary;
            }

            &__propos {
                font-size: 20px;
                line-height: 142.6%;
                color: $primary;
                text-decoration: none;
                white-space: nowrap;
                margin-left: 65px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                    color: $primary;
                }

                &:active {
                    cursor: pointer;
                    color: $primary;
                }
            }
        }
    }
}


@media screen and (max-width: 868px) {
    .conteneurHeader {
        width: 93.316%;

        &__ul {
            width: 10%;

            &__accueil__propos {
                margin-left: 10px;

                &__img {
                    height: 47px;
                }
            }
        }
    }
}


@media screen and (max-width: 375px) {
    .conteneurHeader {
        height: 47px;
        margin: auto;

        &__ul {
            padding-left: 20px;

            &__accueil {
                font-size: 12px;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }

                &__propos {
                    font-size: 12px;
                    margin-left: 10px;

                    &__img {
                        width: 43.28%;
                    }
                }
            }
        }
    }
}