@import"./colors.scss";


.conteneurHeader {
    width: 65.713%;
    height: 68px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;

    &__ul {
        list-style: none;
        display: flex;


        &__accueil {
            font-size: 20px;
            line-height: 142.6%;
            color: $primary;
            text-decoration: underline;
        }

        &__propos {
            font-size: 20px;
            line-height: 142.6%;
            color: $primary;
            white-space: nowrap;
            margin-left: 65px;
            text-decoration: underline;
        }

        &__accueilnonsouligne {
            font-size: 20px;
            line-height: 142.6%;
            color: $primary;
            text-decoration: none;
        }

        &__proposnonsouligne {
            font-size: 20px;
            line-height: 142.6%;
            color: $primary;
            white-space: nowrap;
            margin-left: 65px;
            text-decoration: none;
        }

    }
}


@media screen and (max-width: 868px) {
    .conteneurHeader {
        width: 93.316%;

        &__ul__propos {
            margin-left: 10px;
        }

        &__ul__proposnonsouligne {
            margin-left: 10px;
        }

        &__ul__img {
            height: 45px;
        }

    }
}


@media screen and (max-width: 375px) {
    .conteneurHeader {
        height: 47px;

        &__ul__accueil {
            font-size: 12px;
            text-transform: uppercase;
        }

        &__ul__propos {
            font-size: 12px;
            margin-left: 10px;

            
        }
        &__ul__img {
            width: 43.28%;
        }

        &__ul__accueilnonsouligne {
            font-size: 12px;
            text-transform: uppercase;
        }

        &__ul__proposnonsouligne {
            font-size: 12px;
            margin-left: 10px;
        }

    }
}