@import"./colors.scss";


.styleSection {
    display: flex;
    justify-content: space-between;
    width: 65.713%;
    margin: auto;

    &__conteneur {
        display: flex;
        flex-direction: column;

        &__titre {
            width: 100%;

            &__h1 {
                font-size: 26px;
                color: $primary;
                margin: 0;

                &__pLocation {
                    font-size: 18px;
                    color: $primary;
                    margin: 10px 0 30px 0;

                    &__tags {
                        font-size: 14px;

                        &__spanTags {
                            width: 115px;
                            background-color: $primary;
                            border-radius: 50px;
                            color: $secondary;
                            height: 25px;
                            padding: 5px 25px 5px 25px;
                            margin-right: 10px;
                        }
                    }
                }
            }

        }
    }
}

.conteneurPortrait {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    position: relative;

    &__nom {
        width: min-content;
        color: $primary;
        position: absolute;
        margin-right: 70px;

        &__portrait {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }
}

.collapseHousing {
    display: flex;
    justify-content: space-around;
    width: 71.713%;
    margin: auto;
    height: 370px;
    align-items:flex-start;

    &__ConteneurDescription {
        width: 100%;

        &__El {
            width: 100%;
        }
    }
    
    &__ConteneurEquipments {
        width: 100%;

        &__El {
            width: 100%;
        }
    }    
     
    
}

@media screen and (max-width: 923px) {
    .styleSection {
        width: 93.316%;
    }


    .collapseHousing {
        width: 95%;
        
    }

    .collapseHousing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 71.713%;
        margin: auto;
        height: 100%;
        align-items:flex-start;
    
        &__ConteneurDescription {
            width: 100%;
    
            &__El {
                width: 100%;
            }
        }
        
        &__ConteneurEquipments {
            width: 100%;
    
            &__El {
                width: 100%;
            }
        }    
         
        
    }
}


@media screen and (max-width: 669px) {
    .styleSection {
        width: 93.316%;
        display: block;
    }


    .collapseHousing {
        width: 95%;
        
    }

    .collapseHousing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 71.713%;
        margin: auto;
        height: 100%;
        align-items:flex-start;
    
        &__ConteneurDescription {
            width: 100%;
    
            &__El {
                width: 100%;
            }
        }
        
        &__ConteneurEquipments {
            width: 100%;
    
            &__El {
                width: 100%;
            }
        }    
         
        
    }

    .conteneurPortrait {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: auto;
        position: relative;
    
        &__nom {
            width: min-content;
            color: $primary;
            position: absolute;
            margin-right: 70px;
    
            &__portrait {
                width: 64px;
                height: 64px;
                border-radius: 50%;
            }
        }
    }
}