.conteneurStars {
  display: flex;
  flex-wrap: wrap;

  &__Style {
    display: flex;
    width: 10%;
    

    &__initStarsColeurs {

      &__initStars {
        position: relative;
        left: 150px;
      }
    }
  }
}